<section class="text-teal-700 container mb-10">
  <h3 class="text-center text-3xl mb-10">
    شاهد كيف تستخدم موقع مهمة لكافة التخصصات
  </h3>
  <div class="flex justify-center gap-5 mb-10">
    <p class="text-center">لوحات التحكم</p>
    <p class="text-center">ميزانية المشروع</p>
    <p class="text-center">التحكم في المشاريع</p>
    <p class="text-center">رسم المخططات</p>
  </div>

  <div class="bg-white rounded-lg shadow py-10 flex gap-28 container">
    <div class="flex flex-col justify-center">
      <p>
        اجعل تخطيط ومتابعة مشاريعك أمرًا سهلاً ومباشرًا مع إمكانية إنشاء مخططات
        إدارة المشاريع الرائعة. قم برسم مسارات الأنشطة باستخدام مخطط PERT لتحليل
        الزمن وتحديد الأحداث الرئيسية. استخدم مخطط Gantt لتوضيح الجداول الزمنية
        وتسليط الضوء على جدول الأعمال. ستساعدك هذه الأدوات في فهم الجداول
        الزمنية وتحقيق تنسيق فعّال للمهام، مما يضمن تقدمًا سلسًا وفعالية في
        تنفيذ المشاريع. استفد من قوة المخططات الرئيسية لتحليل المهام، وتحديد
        الانحرافات، وتخطيط المهام المستقبلية. سوف تكون هذه الأدوات في متناول
        يديك لضمان تنظيم فعّال وتنفيذ ناجح لكل مشروع.
      </p>
    </div>

    <div class="relative hidden md:block">
      <img
        ngSrc="assets/images/usage/1.png"
        alt="Illustrative"
        width="1400"
        height="1900"
      />
      <img
        ngSrc="assets/images/usage/2.png"
        alt="Illustrative"
        width="1400"
        height="1900"
        class="absolute top-20 left-20"
      />
    </div>
  </div>
</section>
