<section class="container text-teal-700">
  <div
    class="bg-white rounded-lg shadow container py-10 grid grid-cols-1 md:grid-cols-3 gap-10"
  >
    <div class="hidden md:block">
      <img
        ngSrc="assets/images/calendar.png"
        alt="Calendar"
        width="300"
        height="200"
      />
    </div>
    <div class="col-span-2 flex flex-col justify-center">
      <div>
        <h3 class="text-3xl mb-5">عن مهمة</h3>
        <p>
          مرحبًا بك في "مهمة"، منصتك المتكاملة لإدارة المشاريع بكفاءة وسهولة.
          "مهمة" تقدم تجربة فريدة للأفراد والشركات لتنظيم وتنسيق الأعمال بشكل
          مبتكر. احصل على لوحات تحكم قوية لمتابعة مشاريعك، وقم بإدارة المهام
          اليومية بكفاءة، وأنشئ مخططات PERT وGantt للتخطيط الاستراتيجي. بفضل
          "مهمة"، يمكنك تحقيق التناغم في الفريق، وضبط التفاصيل المالية للمشاريع،
          وتسهيل عمليات التواصل واتخاذ القرارات الحاسمة. استمتع بتجربة إدارة
          مشاريع متطورة تساهم في نجاح أفرادك ونجاح المشاريع الكبيرة على حد سواء.
          "مهمة" تجعل الإدارة اليومية وإدارة المشاريع أمورًا بديهية، مما يساهم
          في تحقيق أهدافك بسلاسة وفعالية. انضم إلى "مهمة" اليوم واستعد لرحلة
          جديدة نحو التنظيم والتفوق.
        </p>
      </div>
    </div>

    <!-- Image on small screen -->
    <div class="flex justify-center md:hidden">
      <img
        ngSrc="assets/images/calendar.png"
        alt="Calendar"
        width="300"
        height="200"
      />
    </div>
  </div>
</section>
