<form
  [formGroup]="signUpForm"
  (ngSubmit)="signUp()"
  class="flex flex-col gap-5"
>
  <div>
    <label for="username">اسم المستخدم</label>
    <input
      type="text"
      name="username"
      id="username"
      placeholder="اسم المستخدم"
      formControlName="username"
    />
    <div
      *ngIf="username.invalid && (username.dirty || username.touched)"
      class="text-rose-700"
    >
      <p *ngIf="username.errors?.['required']">اسم المستخدم مطلوب.</p>
    </div>
  </div>
  <div>
    <label for="password">كلمة المرور</label>
    <input
      type="password"
      name="password"
      id="password"
      placeholder="********"
      formControlName="password"
    />
    <div
      *ngIf="password.invalid && (password.dirty || password.touched)"
      class="text-rose-700"
    >
      <p *ngIf="password.errors?.['required']">كلمة المرور مطلوبة.</p>
      <p *ngIf="password.errors?.['minlength']">
        ادخل كلمة مرور قوية مكونة من 6 خانات على الأقل.
      </p>
    </div>
  </div>
  <div>
    <label for="phone">رقم الجوال</label>
    <input
      type="text"
      name="phone"
      id="phone"
      placeholder="********05"
      formControlName="phone"
    />
    <div
      *ngIf="phone.invalid && (phone.dirty || phone.touched)"
      class="text-rose-700"
    >
      <p *ngIf="phone.errors?.['required']">رقم الجوال مطلوب.</p>
      <p *ngIf="phone.errors?.['minlength']">
        رقم الجوال يجب أن يحتوي على 10 أرقام على الأقل.
      </p>
      <p *ngIf="phone.errors?.['pattern']">ادخل رقم جوال سعودي صالح.</p>
    </div>
  </div>

  @if (errorMessage) {
  <div class="bg-rose-700 text-white text-center rounded-lg py-3 px-5 mt-5">
    <p>{{ errorMessage }}</p>
  </div>
  }
  <div class="pt-5">
    <button class="bg-teal-700 rounded-lg text-white w-full py-2" type="submit">
      التالي
    </button>
  </div>
</form>
