<div class="flex justify-center">
  <table>
    <thead>
      <tr>
        <th>اسم المورد</th>
        <th>نوع المورد</th>
        <th>رقم المورد</th>
        <th>التكلفة</th>
        <th>البيان</th>
      </tr>
    </thead>
    <tbody>
      @for (resource of resources; track resource.id) {
      <tr>
        <td>{{ resource.title }}</td>
        <td>{{ resource.type }}</td>
        <td>{{ resource.number }}</td>
        <td>{{ resource.cost }}</td>
        <td>{{ resource.description }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
