<div>
  <h3 class="text-2xl text-teal-700 mb-5">إضافة مورد جديد +</h3>

  <form [formGroup]="resourceForm" (ngSubmit)="addResource()">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
      <!-- Title -->
      <div>
        <label for="title">اسم المورد</label>
        <input type="text" id="title" name="title" formControlName="title" />

        @if (title.invalid && (title.dirty || title.touched)) {
        <p class="text-rose-700">ادخل اسم المورد.</p>
        }
      </div>

      <!-- Type -->
      <div>
        <label for="type">نوع المورد (اختياري)</label>
        <input type="text" id="type" name="type" formControlName="type" />
      </div>

      <!-- Number -->
      <div>
        <label for="number">رقم المورد (اختياري)</label>
        <input type="text" id="number" name="number" formControlName="number" />
        @if (number.invalid && (number.touched || number.dirty)) {
        <p class="text-rose-700">ادخل أرقام فقط.</p>
        }
      </div>

      <!-- Cost -->
      <div>
        <label for="cost">تكلفة المورد (اختياري)</label>
        <input type="text" id="cost" name="cost" formControlName="cost" />
        @if (cost.invalid && (cost.touched || cost.dirty)) {
        <p class="text-rose-700">ادخل أرقام فقط.</p>
        }
      </div>

      <!-- Description -->
      <div class="md:col-span-2">
        <label for="description"> كتابة بيان (اختياري)</label>
        <textarea
          type="text"
          id="description"
          name="description"
          formControlName="description"
          rows="4"
        ></textarea>
      </div>

      <!-- Submit -->
      <div class="md:col-span-2 flex justify-around">
        <button
          type="submit"
          class="bg-teal-600 text-white rounded-lg py-3 px-10"
        >
          حفظ
        </button>
        <button
          class="ring-1 ring-teal-700 text-teal-700 rounded-lg py-3 px-10"
          (click)="back()"
        >
          إلغاء
        </button>
      </div>
    </div>
  </form>
</div>
