<section>
  <h3 class="text-3xl mb-5">أضف فريق عملك الآن</h3>
  <p class="mb-10">
    أضف فريق عملك من خلال كتابة البريد الالكتروني الخاص بعضو الفريق
  </p>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
    <div>
      <form [formGroup]="teamForm" (ngSubmit)="addTeam()">
        <div formArrayName="aliases">
          <div
            *ngFor="let alias of aliases.controls; let i = index"
            class="mb-5"
          >
            <label for="alias-{{ i }}">البريد الإلكتروني:</label>
            <input id="alias-{{ i }}" type="text" [formControlName]="i" />
          </div>
          <button
            class="text-teal-700 underline mt-5"
            type="button"
            (click)="addAlias()"
          >
            إضافة موظف آخر +
          </button>
        </div>
        <button
          class="mt-10 bg-teal-700 text-white rounded-lg py-2 w-full"
          type="submit"
        >
          التالي
        </button>
      </form>
    </div>
    <div class="flex justify-end">
      <div>
        <img
          ngSrc="assets/images/register/3.png"
          alt="Employee"
          width="400"
          height="300"
        />
      </div>
    </div>
  </div>
</section>
